.list__products {
    max-width: 595px;
    width: 100%;
    background-color: $text-contrast;
    border: 2.5px solid #ebecf1;
    border-radius: 32px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    &-title {
        font-weight: $typography-heading1bold-font-weight;
        font-size: $typography-h2bold-font-size + px;
        line-height: 140%;
        text-align: center;
        color: $text-primary;
        margin-top: 40px;
        margin-bottom: 32px;
    }

    &-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 48px;
        margin-left: 48px;
        border-bottom: 1.5px solid #ebecf1;

        .time {
            font-weight: $typography-h1medium-font-weight;
            font-size: $typography-titlesemibold-font-size + px;
            line-height: 110%;
            color: $text-primary;
            margin-bottom: 16px;
        }
    }

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 48px;
        margin-bottom: 10px;
        margin-left: 48px;
        padding-bottom: 10px;
        border-bottom: 1.5px solid #ebecf1;

        &:first-child {
            margin-top: 36px;
        }

        & .list__products-subtitle {
            width: 252px;
            font-weight: $typography-h1medium-font-weight;
            font-size: $typography-bodysemibold-font-size + px;
            line-height: 110%;
            color: $text-primary;
            margin-bottom: 10px;
        }

        & .list__products-text {
            font-weight: $typography-bodysemibold-font-weight;
            font-size: $typography-bodysemibold-font-size + px;
            line-height: 110%;
            color: $text-primary;
            margin-bottom: 10px;
        }
    }

    &-total {
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0px 0px 48px;
        border-bottom: 1.5px solid #ebecf1;

        .total-title {
            font-weight: $typography-bodysemibold-font-weight;
            font-size: $typography-titlesemibold-font-size + px;
            line-height: 130%;
            color: $text-primary;
            margin-bottom: 57px;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        margin-right: 48px;
        margin-bottom: 24px;
        margin-left: 48px;

        & .our__phonenumber {
            font-weight: $typography-h1medium-font-weight;
            font-size: $typography-title2semibold-font-size + px;
            line-height: 110%;
            color: #000000;
            margin-bottom: 12px;
        }

        & .phone__number {
            font-weight: $typography-titlesemibold-font-weight;
            font-size: $typography-titlemedium-font-size + px;
            line-height: 130%;
            color: #000000;
            text-decoration: none;
        }
    }
}
